# eclipse files
.classpath
.project
.settings

#vi(m) swap files
*.swp

*.class

# Package Files #
*.jar
*.war
*.ear

# jmf log
jmf.log

#individual users should not commit their passwords. They should use the template and copy it to the passwords file.
passwords.props
