#be sure to copy this file from passwords.props.template to passwords.props before adding your own account info to it.

#your username on the system. eg if your username is joe@frank.com, this would be joe
username=
#your password
password=
#the host. In the above example, this would be frank.com
host=
